@model IEnumerable<ColecaoLivrosCDsDVDs.Models.Entidades.CD>

@{
    ViewData["Title"] = "ListarCds";
}

<h1>Listar Cds</h1>

<p>
    <a asp-action="PaginaCadastrarCd">Cadastrar novo CD</a>
</p>
<table class="table" id="tabelaCds">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="PaginaEditarCd" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="PaginaDetalhesCd" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="PaginaExcluirCd" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
