@model IEnumerable<ColecaoLivrosCDsDVDs.Models.Usuario>

@{
    ViewData["Title"] = "ListarUsuarios";
}

<h1>Usuarios</h1>
 
<p>
    <a asp-action="PaginaCadastrarUsuario">Cadastrar Usuario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                <a asp-action="PaginaEditarUsuario" asp-route-id="@item.Id">Atualizar</a> |
                <a asp-action="PaginaDetalhesUsuario" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="PaginaExcluirUsuario" asp-route-id="@item.Id">Detelar</a>
            </td>
        </tr>
}
    </tbody>
</table>
